/*
==========================
=========HEADER===========
==========================
*/

.header {
    background-color: #8BC24A;
    width: 100vw;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .btn-nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.header .btn-nav a:hover {
    text-decoration: underline;
}

.header .nav-logo img {
    height: 10vh;
    width: auto;
}

/*
==========================
=========FOOTER===========
==========================
*/

/*
    ESTILOS DE BOTONES
*/
.btn-home {
    display: inline-block;
    text-decoration: none;
}

.btn-home button:hover {
    transform: scale(1.05);
}