/* Paleta de colores
primarios
#556B2F
#c97b48
#e8dcc3

secundarios
#394b59
#6a8c4e
#d99a6c

neutros
#f3efe9
#6e6e6e
#2f2f2f
*/

/* 
--------------
Layout general
--------------
*/
html,
body {
    margin: 0px;
    padding: 0px;
    /*Fuente general*/
    font-family: 'quicksand', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #2f2f2f;
    /*Color fondo*/
    background-color: #F3EFE9;
}

/* Alturas fijas para poder reservar espacio */
:root {
    --header-height: 70px;
    --footer-height: 60px;
}

/*--------------
    header
----------------*/
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: var(--header-height);
    background-color: #6A8C4E;
    color: #F3EFE9;

    display: flex;
    align-items: center;
    z-index: 50;
}

.header-link {
    background-color: #C97B48;
    color: #F3EFE9;
    padding: 5px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
}

.header-inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 1.5rem;
}

.header-link:hover {
    scale: 2.1;
    background-color: #D99A6C;
    color: #F3EFE9;
}

.btn-logo {
    height: calc(var(--header-height) - 10px);
    display: flex;
    align-items: center;
}

.btn-logo img {
    height: 100%;
    width: auto;
}

.btn-logo:hover {
    scale: 1.2;
}

/*---------  
   footer  
----------*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: var(--footer-height);

    background-color: #E8DCC3;
    color: #2f2f2f;

    display: flex;
    align-items: center;
    justify-content: center; 

    z-index: 50;
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 0.6rem;      
}

.footer-social img {
    height: 28px;
    width: auto;
    transition: transform 0.2s ease-in-out;
}

.footer-social img:hover {
    transform: scale(1.15);
}


/*---------------
Contenido central
---------------*/
main {
    padding-top: var(--header-height);
    padding-bottom: var(--footer-height);
    padding-left: 8vw;
    padding-right: 8vw;

    min-height: 100vh;   
}