/* Por defecto oculto */
.mobile-only {
    display: none;
}

/* MÓVIL REAL */
@media (max-width: 768px) {

    .main-header {
        display: none;
    }

    .mobile-only {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.75rem;
        background: #5f6f2f;
    }

    .mobile-nav a {
        color: #fff;
        font-weight: 600;
        text-decoration: none;
        font-size: 0.9rem;
    }
}